.navigationItems {
  display: block;
  padding-top: 2rem;
  text-align: center;
}

.headerContainer {
  position: relative;
  text-align: center;
  color: white;
}

.overlayText {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  font-family: 'Times New Roman', Times, serif;
  font-size: xx-large;
}

.navbarItem {
  display: inline-block;
}

.navbarItem * {
  margin: 1rem;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: medium;
  color: #cdc2bd;
}

.navBarItemHover:hover {
  color: #c89b88;
}
